<form action="/contactos/lista/{{user.id}}" method="GET"></form> 
<div>
    <div class="row">
        <div class="card-body">
            <div>
                <h1>
                    Contacto Familiar:
                </h1>
            </div>
            <div>
                <h2>
                    Nombre:
                </h2>
                <h2>

                </h2>
            </div>
            <div>
                <h2>
                    Parentesco:
                </h2>
                <h2>

                </h2>
            </div>
            <div>
                <h2>
                    Telefono:
                </h2>
                <h2>

                </h2>
            </div>
            <div>
                <h2>
                    Celular:
                </h2>
                <h2>

                </h2>
            </div>
            <div>
                <button>
                    <a href="">Editar</a>
                </button>
            </div>
            <div>
                <button>
                    <a href="">Eliminar</a>
                </button>
            </div>
        </div>
    </div>
</div>
