<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <link rel = "stylesheet" href="/CSS/Información_de_la_Página.css">
        
    </head>
    <body>
        <form action="/Contactos"></form>
        <div class= container ></div>

        <article id="article" class="article">
            .<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>
        </article>       

        <div class="login-box">
            <h1>CONTACTANOS:</h1>
            <form>
                <p>
                    <img class="avatar" id="imagen" src="/img/contactanos_3.jpg">
                    <label for="DIRRECIÓN">DIRRECIÓN: García Moreno S435 y Ambato</label>
                </p>
                <p>
                    <img class="avatar" id="imagen" src="/img/contactanos_1.jpg">
                    <label for="TELÉFONO">TELÉFONO: 0969495339</label>
                </p>
                <p>
                    <img class="avatar" id="imagen" src="/img/contactanos_2.jpg">
                    <label for="CORREO ELECTRÓNICO">CORREO ELECTRÓNICO: ema.munoz@yavirac.edu.ec</label>
                </p>
                <p>
                    <img class="avatar" id="imagen" src="/img/referencias legales.png">
                    <label for="REFERENCIAS LEGALES">REFERENCIAS LEGALES: Cada fotografía peretenece a EMILY MUÑOZ</label>
                </p>

                <a href="Página_Principal.html" class="btn btn-primary">VOLVER</a>
            </form>
        </div>
<!-- Aquí comienzan el footer-->
        <footer class="pb-3 pt-3" class= "footer2"> 
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-3">
                        <a href="Información_de_la_Página.html">Contactos</a>
                    </div>
                    <div class="col-md-3">
                        <a href="Información_de_la_Página.html">Información de la página</a>
                    </div>
                    <div class="col-md-3">
                        <a href="Información_de_la_Página.html">Dirrección</a>
                    </div>
                    <div class="col-md-3">
                        <a href="Información_de_la_Página.html">Referencias Legales</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Aquí termina el footer-->

    </body>
</html>

