<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->        
        <link rel = "stylesheet" href="/css/Control.css">
    </head>
    <body>
        <div class= container ></div>

<!-- Aquí comienza el calendario-->
        <div class="calendar">
            <div class="calendar__info">
                <div class="calendar__prev" id="prev-month">&#9664;</div>
                <div class="calendar__month" id="month"></div>
                <div class="calendar__year" id="year"></div>
                <div class="calendar__next" id="next-month">&#9654;</div>
            </div>
        
            <div class="calendar__week">
                <div class="calendar__day calendar__item">Mon</div>
                <div class="calendar__day calendar__item">Tue</div>
                <div class="calendar__day calendar__item">Wed</div>
                <div class="calendar__day calendar__item">Thu</div>
                <div class="calendar__day calendar__item">Fri</div>
                <div class="calendar__day calendar__item">Sat</div>
                <div class="calendar__day calendar__item">Sun</div>
            </div>
        
            <div class="calendar__dates" id="dates"></div>
        </div>
<!-- Aquí termina el calendario-->

<!-- Aquí comienzan el reloj-->
        <div class="wrap">
            <div class="widget">
                <div class="reloj">
                    <p id="horas" class="horas"> </p>
                    <p> : </p>
                    <p id="minutos" class="minutos"> </p>
                    <p> : </p>
                    <div class="caja-segundos">
                        <p id="ampm" class="ampm"></p>
                        <p id="segundos" class="segundos"> </p>
                    </div>
                </div>
            </div>
        </div>
<!-- Aquí termina el reloj-->

<!-- Aquí comienzan el footer-->
        <footer class="pb-3 pt-3" class= "footer2"> 
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-3">
                        <a href="Información_de_la_Página.html">Contactos</a>
                    </div>
                    <div class="col-md-3">
                        <a href="Información_de_la_Página.html">Información de la página</a>
                    </div>
                    <div class="col-md-3">
                        <a href="Información_de_la_Página.html">Dirrección</a>
                    </div>
                    <div class="col-md-3">
                        <a href="Información_de_la_Página.html">Referencias Legales</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Aquí termina el footer-->

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" 
        crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" 
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" 
            crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" 
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" 
            crossorigin="anonymous">
        </script>
        <script src="js/Control.js"></script>

    </body>
</html>

