<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <link rel="stylesheet" href="/css/Control.css">
</head>

<body onload= "startTime()">

    <form action="/Control"></form>
    <div class=container></div>

    <!--Aquí comienza el calendario-->
    <div class="calendar">
        <div class="calendar__info">
            <div class="calendar__prev" id="prev-month">&#9664;</div>
            <div class="calendar__month" id="month"></div>
            <div class="calendar__year" id="year"></div>
            <div class="calendar__next" id="next-month">&#9654;</div>
        </div>

        <div class="calendar__week">
            <div class="calendar__day calendar__item">Mon</div>
            <div class="calendar__day calendar__item">Tue</div>
            <div class="calendar__day calendar__item">Wed</div>
            <div class="calendar__day calendar__item">Thu</div>
            <div class="calendar__day calendar__item">Fri</div>
            <div class="calendar__day calendar__item">Sat</div>
            <div class="calendar__day calendar__item">Sun</div>
        </div>

        <div class="calendar__dates" id="dates"></div>
    </div>
    <!--Aquí comienza el calendario-->

    <!--Aquí comienza el reloj-->
    <div id="clockdate">
        <div class="clockdate-wrapper">
            <div id="clock"></div>
            <div id="date"></div>
        </div>
    </div>
    <!--Aquí termina el reloj-->

    <script src="/js/Control.js"></script>
    </body>
</html>
