<!DOCTYPE html>
<html lang="es">

    <head>
        <!-- Required meta tags -->
        <link rel = "stylesheet" href="/CSS/Login.css">
        <title> EPILEPSUM </title>
    </head>

        <body>
            <div class="contenedor-form">
                <div class="toggle">
                    <span><a href="/Registro">Crear Cuenta</a></span>
                </div>
<!-- Aquí comienza el primer formulario -->
                <div class="formulario">
                    <img src="/img/Logo-epilepsum.jpg" alt="Logo" id="img" class="img">
                    <h1>EPILEPSUM</h1>

                    <form action="/Login" method="POST">
                        <input id="nombreIntxt" type="userName" name="username" placeholder="Usuario" required>
                        <input id="passIntxt" type="password" name="password" placeholder="Contraseña" required>
                        
                        <button id="boton-login" class="btn btn-primary" type="submit" style="background-color: crimson;">Ingresar</button><br>  <br>
                    </form>
                </div>
<!-- Aquí termina el primer formulario -->



            <div class="reset-password">
                <a href="#">Olvidé mi Contraseña</a>
            </div>

        </div>

        <script src="#"></script>
    </body>
</html>

