<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel = "stylesheet" href="css/Página_Principal.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
        <title> EPILEPSUM </title>
        <link rel="icon " href="img/Logo-epilepsum.ico">
    </head>
    <body>
        <div class= container ></div>
        
        <!--Aquí comienza el header-->
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <img id="logo" src="img/logo_epilepsum.jpg"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto-center">
                        <li class="nav-item active">
                        <a class="nav-link" href="Página_Principal.html"> Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Control.html">Mi Control</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Página_Principal.html#Primeros_Auxilios">Primeros Auxilios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Página_Principal.html#¿Qué_es_la_Epilepsia?">¿Qué es la Epilepsia?</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Información_de_la_Página.html">Contactos</a>
                        </li>
                        <li class ="close">
                            <a href= "Login.html" id="Close" class= "btn btn-primary" type="reset" value="Reset" style="background-color: crimson; position:absolute; right: 50px;"> Cerrar Sesión </a>
                        </li>
                    </ul>                  
                </div>
            </nav>
        </header>
        <!--Aquí termina el header-->

        <!--Aquí comienza el main-->
        <main id= "main">

        <!--Aquí comienza el carousel-->
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-pause="false">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img id="imgcarousel" src="img/cerebro-3.jpg" class="d-block w-100" alt="Carousel  1">
                </div>
                <div class="carousel-item">
                    <img id="imgcarousel" src="img/neuronas-epilepsia.jpg" class="d-block w-100" alt="Carousel  2">
                </div>              
                <div class="carousel-item">
                    <img id="imgcarousel" src="img/cerebro-2.jpg" class="d-block w-100" alt="Carousel  3">
                </div>   
            </div>
            <div class= "container">
                <div class= "row">
                    <div class= "overlay">
                        <div class="row mt-5">
                            <div class="col-12 col-md-6 offset-md-6"></div>
                                <strong>
                                    <h1 class="text_overlay"> EPILEPSUM </h1>
                                </strong>
                                <h2 class="text_overlay2"> "TE DA LA BIENVENIDA"</h2>
                                <p class="d-none d-sn-block">...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Aquí termina el carousel-->

        <!-- Aquí comienzan las cartas-->
        <section>
            <div class= "container" id="Primeros_Auxilios">
                <div class="col text-center text-oppercase">
                    <h4 id="Destinos"> <br><br>CONOCE COMO AYUDAR A UNA PERSONA CON EPILEPSIA<br></h4><br>
                </div>
                <div class="row row-cols-1 row-cols-md-3">
                    <div class="col mb-4 text-center">
                        <div class="card h-100" style= "width: 18rem">
                            <img src= "img/paciente.jpg" class= "card-img-top" alt="...">
                            <div class= "card-body">
                                <h5 class= "card-title"> PRIMEROS AUXILIOS </h5>
                                <a href="#ventana_1" class="btn btn-primary btn-abrir-popup" data-toggle="modal" style="background-color: crimson;" > Ver más </a>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4 text-center">
                        <div class="card h-100" style= "width: 18rem">
                            <img src= "img/GPS.png" class= "card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title"> UBICACIÓN </h5>
                                <a href="#ventana_2"  class="btn btn-primary btn-abrir-popup" data-toggle="modal" style="background-color: crimson;" > Ver más </a>
                            </div>
                        </div>
                    </div>            
                    <div class="col mb-4 text-center">
                        <div class="card h-100" style= "width: 18rem">
                            <img src= "img/contactos.jpg" class= "card-img-top" alt="...">
                            <div class= "card-body">
                                <h5 class= "card-title"> CONTACTOS DE EMERGENCIA </h5>
                                <a href="#ventana_3" class="btn btn-primary btn-abrir-popup" data-toggle="modal" style="background-color: crimson;" > Ver más </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class= "container" id="¿Qué_es_la_Epilepsia?">
                <div class="col text-center text-oppercase">
                    <h4 id="Destinos"><br><br>CONOCE MÁS DE LA EPILEPSIA </h4>
                    <h4 > Y COMO PUEDES IDENTIFICARLO <br></h4><br>
                </div>
                <div class="row row-cols-1 row-cols-md-3">
                    <div class="col mb-4 text-center">
                        <div class="card h-100" style= "width: 18rem">
                            <img src= "img/epilepsia.jpg" class= "card-img-top" alt="...">
                            <div class= "card-body">
                                <h5 class= "card-title"> ¿QUÉ ES EPILEPSIA? </h5>
                                <a href="#ventana_4" class="btn btn-primary btn-abrir-popup" data-toggle="modal" style="background-color: crimson;" > Ver más </a>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4 text-center">
                        <div class="card h-100" style= "width: 18rem">
                            <img src= "img/epilepsia-focal.png" class= "card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">LAS CRISIS EPILÉPTICAS FOCALES O PARCIALES</h5>
                                <a href="#ventana_5"  class="btn btn-primary btn-abrir-popup" data-toggle="modal" style="background-color: crimson;" > Ver más </a>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4 text-center">
                        <div class="card h-100" style= "width: 18rem">
                            <img src= "img/epilepsia-generalizadas.png" class= "card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">LAS CRISIS EPILÉPTICAS GENERALIZADAS</h5>
                                <a href="#ventana_6"  class="btn btn-primary btn-abrir-popup" data-toggle="modal" style="background-color: crimson;" > Ver más </a>
                            </div>
                        </div>
                    </div>            
                    <div class="col mb-4 text-center">
                        <div class="card h-100" style= "width: 18rem">
                            <img src= "img/convulsiones.jpg" class= "card-img-top" alt="...">
                            <div class= "card-body">
                                <h5 class= "card-title"> ESTADO DE MAL EPILÉPTICO </h5>
                                <a href="#ventana_7"  class="btn btn-primary btn-abrir-popup" data-toggle="modal" style="background-color: crimson;" > Ver más </a>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4 text-center">
                        <div class="card h-100" style= "width: 18rem">
                            <img src= "img/doctor.png" class= "card-img-top" alt="...">
                            <div class= "card-body">
                                <h5 class= "card-title"> DIAGNÓSTICO MÉDICO </h5>
                                <a href="#ventana_8" class="btn btn-primary btn-abrir-popup" data-toggle="modal" style="background-color: crimson;" > Ver más </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Aquí termina las cartas-->

        </main>
        <!-- Aquí termina el main-->

        <!-- Aquí comienzan el footer-->
        <footer class="pb-3 pt-3" class= "footer2"> 
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-3">
                        <a href="Información_de_la_Página.html">Contactos</a>
                    </div>
                    <div class="col-md-3">
                        <a href="Información_de_la_Página.html">Información de la página</a>
                    </div>
                    <div class="col-md-3">
                        <a href="Información_de_la_Página.html">Dirrección</a>
                    </div>
                    <div class="col-md-3">
                        <a href="Información_de_la_Página.html">Referencias Legales</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Aquí termina el footer-->

        <!-- Aquí empieza overlay de las cartas-->
        <div class="modal fade" id="ventana_1">
            <div class="modal-dialog" id="popup">
                <div class="modal-content">
                    <div class="modal-header">
                        <p class="card-text">¿Qué hacer en caso de una Crisis Epiléptica?<br><br>
                        <br> 1.- Mantenar la calma. No sujetar al paciente, sólo retirar los objetos con los que se pueda golpear.
                        <br><img src= "img/Primeros_Auxilios_1.jpg" style="max-height: 100vh; max-width: 300px; position: relative; left: 175px;"><br><br>
                        <br> 2.- Colocarle de lado siempre que se pueda.
                        <br><img src= "img/Primeros_Auxilios_2.jpg" style="max-height: 75vh; max-width: 350px; position: relative; left: 50px;"><br><br>
                        <br> 3.- No introducirle nunca nada en la boca como palos y cucharas, ni intentar administrarle medicamentos.
                        <br><img src= "img/Primeros_Auxilios_3.jpg" style="max-height: 50vh; max-width: 75px; position: relative; left: 185px;"><br><br>
                        <br> 4.- No dejarle solo hasta que recobre el conocimiento y se recupere.
                        <br><img src= "img/Primeros_Auxilios_4.jpg" style="max-height: 75vh; max-width: 175px; position: relative; left: 135px;"><br><br>
                        <br> 5.- Controlar el tiempo que dura la crisis. Si es más de 5 minutos, llamar a Urgencias al 911.
                        <br><img src= "img/Primeros_Auxilios_5.jpg" style="max-height: 75vh; max-width: 150px; position: relative; left: 65px;">
                        <img src= "img/Primeros_Auxilios_5_2.jpg" style="max-height: 75vh; max-width: 150px;position: relative; left: 100px;"><br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="ventana_2">
            <div class="modal-dialog" id="popup">
                <div class="modal-content">
                    <div class="modal-header">
                        <p class="card-text">
                            <p><button onclick="geoFindMe()">Ver mi Localización</button></p>
                            <div id="out"></div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="ventana_3">
            <div class="modal-dialog" id="popup">
                <div class="modal-content">
                    <div class="modal-header">
                        <p class="card-text"> Contacto Médico:
                            <br> Dr. Fernando Bozano.
                            <br> Clínica AXXIS.
                            <br> Telf.: 02 230 8001.
                            <br> 
                            <br> Contacto Familiar:
                            <br> Marina Asipuela (Mamá).
                            <br> Telf.: +593 99 362 2074.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="ventana_4">
            <div class="modal-dialog" id="popup">
                <div class="modal-content">
                    <div class="modal-header">
                        <p class="card-text">La epilepsia es una enfermedad neurológica cerebral crónica caracterizada por una predisposición a presentar crisis epilépticas repetidas, normalmente se pide que sean dos o más crisis y el origen de estas se debe a una descarga excesiva paroxística de impulsos nerviosos por parte de grupos de neuronas cerebrales suelen ser crisis bruscas y breves que darán lugar a manifestaciones clínicas más o menos evidentes.<br>
                            <br>Muchas veces se usa el término crisis epilépticas como sinónimo de convulsiones, pero no siempre es así, pueden ser:
                            <br>•	Crisis Motoras.
                            <br>•	Sensitivas.
                            <br>•	Vegetativas.
                            <br>•	Síquicas.<br>
                            <br>Que pueden acompañarse con o sin disminución del Estado de conciencia, los mecanismos fisiopatológicos, aunque no son del todo conocidos, nos podemos encontrar con diferentes clasificaciones, según la presentación clínica de la epilepsia las “crisis epilépticas focales o parciales” y las “crisis epilépticas generalizadas”. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="ventana_5">
            <div class="modal-dialog" id="popup">
                <div class="modal-content">
                    <div class="modal-header">
                        <p class="card-text">Afecta específicamente a una zona del cerebro, lóbulo cerebral o un hemisferio, en estas crisis existen dos tipos de afectación es:
                            <br>a.	Simples:  No existe afectación  de la consciencia. 
                            <br>b.	Complejas: Existe afectación  de la consciencia.<br>
                            <br>Las crisis epilépticas focales como la descarga se da en una zona concreta del córtex cerebral, los síntomas y signos pueden variar según las funciones de estas zonas el o la paciente puede tener:
                            <br>a.	Signos vegetativos.
                            <br>b.	Signos sensitivos.
                            <br>c.	Signos visuales.
                            <br>d.	Signos psíquicos.
                            <br>e.	Alucinaciones olfativas o auditivas.
                            <br>f.	Automatismos (cambios de expresión, movimientos repentinos y repetitivos).
                            <br>g.	Alteraciones del lenguaje.
                            <br>h.	Síntomas y signos motores diversos (sacudidas en un grupo de músculos que dependen de las neuronas que han sido activadas y estas sacudidas pueden extenderse a otros musculares próximos a estos y a esto se lo llama MARCHA JACKSONIANA).
                            <br>El paciente puede ser consciente de toda esta combinación de síntomas y por eso se hacía la distinción entre parciales simples y complejos.                    
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="ventana_6">
            <div class="modal-dialog" id="popup">
                <div class="modal-content">
                    <div class="modal-header">
                        <p class="card-text">Afecta a ambos hemisferios del cerebro y perdida de consciencia que existen tres tipos generalizadas:<br>
                            <br>a.	CRISIS GENERALIZADAS CONVULSIVAS:<br>
                            <br>Existen varias clases, pero  lo más frecuente son combinaciones.
                            <br>Existen varias clases como:<br>
                            <br>i.	Crisis Epilépticas Mioclonías: Consisten en unas sacudidas musculares breves que pueden durar de 20 a 120 minutos y pueden llegar a lanzar algún objeto que tengan las manos durante la crisis. <br>
                            <br>ii.	Crisis Epilépticas Tónicas: Consiste en una contracción de todos los músculos del tronco y extremidades, que suele ser breves, y provoca la caída del paciente.<br>
                            <br>iii.	Crisis Epilépticas Clónicas: Consiste en contracciones musculares violentas de todo el cuerpo. <br>
                            <br>iv.	Crisis Epilépticas Tónicas¬- Clónicas: Son los más frecuentes, empieza con una fase tónica que puede durar unos 30 segundos cae al suelo, y se sigue una fase clónica de sacudidas violentas que al principio son muy breves, y cada vez son más espaciadas, el paciente puede sudar, babear, morderse la lengua o la mejilla, puede tener incontinencia de esfínteres, y puede sufrir lesiones traumatológicas, secundarias a la caída; al salir de la crisis puede estar en una situación de confusión, somnolencia, y en ocasiones de amnesia, sufrir un dolor muscular generalizado, estos síntomas pueden durar incluso varias horas, finalizando en las crisis epilépticas mioclonías.<br>
                            <br>b.	CRISIS GENERALIZADAS ATÓNICAS O AMIOTÓNIA: Consiste en la pérdida del tono postural que puede ser total y provocar la caída del suelo, que se suele llamar DROP ATTACK EPILÉPTICO, o puede limitarse a la cabeza o a la flexión de la rodilla, sí es total provocará la caída al suelo del paciente.<br>
                            <br>c.	CRISIS GENERALIZADAS NO CONVULSIVAS:  Son las ausencias, como se indica el paciente parece quedarse ausente, cesa su actividad, su mirada está perdida fija y tras unos segundos recupera la consciencia; las ausencias típicas pueden repetirse muchas veces durante el día y desencadenarse por la hiperventilación algunas veces pueden acompañarse de mioclonías.
                        </p><br>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="ventana_7">
            <div class="modal-dialog" id="popup">
                <div class="modal-content">
                    <div class="modal-header">
                        
                        <p class="card-text">Existe un estatus epiléptico o crisis continuas, y se pone esta etiqueta las crisis que duran 30 minutos o más, o que se repiten con tanta frecuencia que no se recupere el paciente entre una crisis y otra se puede distinguir entre mal epiléptico convulsivo o no convulsivo en el caso de mal epiléptico convulsivo estamos ante una urgencia médica.</p><br>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="ventana_8">
            <div class="modal-dialog" id="popup">
                <div class="modal-content">
                    <div class="modal-header">
                        <p class="card-text">El diagnóstico es clínico y se basa principalmente la anamnesis, es muy importante buscar información, los testigos sobre lo que ha pasado antes, durante y después de la crisis, es importante saber, si las crisis son realmente epilépticas, saber el tipo de crisis e intentar determinar la causa, la tecnología para la exploración física, tendremos que conocer los antecedentes personales, se deben realizar pruebas complementarias habituales para hacer el diagnóstico diferencial como la analítica electrocardiograma, radiografía de tórax, en algunos casos también habrá que hacer la función lumbar todo dependiendo de la sospecha clínica una prueba diagnóstica fundamental es el electroencefalograma, qué es la prueba típica y otras pruebas que se pueden realizar que también son útiles para el diagnóstico diferencial son en la tomografía y la resonancia magnética o incluso el PP.</p><br>
                    </div>
                </div>
            </div>
        </div>
        <!-- Aquí termina overlay de las cartas-->

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" 
        crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" 
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" 
            crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" 
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" 
            crossorigin="anonymous">
        </script>
        <script src="js/Página_Principal.js"></script>
    </body>
</html>
