* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: -webkit-gradient(linear, left top, right top, from(mediumpurple), to(lightsalmon));
  background: -webkit-linear-gradient(left, mediumpurple, lightsalmon);
  background: -o-linear-gradient(left, mediumpurple, lightsalmon);
  background: linear-gradient(to right, mediumpurple, lightsalmon);
}

#logo {
  max-height: 50vh;
  max-width: 75px;
}

footer {
  background-color: coral;
}

footer a {
  color: white;
}

.overlay {
  text-align: center;
}

.btn-Inscripción {
  translate: end;
}

.article {
  color: none;
}

.title {
  text-align: center;
  color: #444;
}


/* Aquí empieza el Calendario*/

.calendar {
  background: cyan;
  width: 80%;
  max-width: 600px;
  margin: 1em auto;
  padding: .5em 0;
}

.calendar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 2em;
  font-size: 1.2em;
  text-transform: uppercase;
}

.calendar__prev,
.calendar__next {
  color: greenyellow;
  cursor: pointer;
  font-size: 1.3em;
}

.calendar__prev {
  margin-right: auto;
}

.calendar__next {
  margin-left: auto;
}

.calendar__week,
.calendar__dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
}

.calendar__month,
.calendar__year {
  padding: .5em 1em;
}

.calendar__item {
  text-align: center;
  line-height: 2;
}

.calendar__today {
  background: crimson;
  color: white;
  width: 50%;
  border-radius: 40%;
  margin: auto;
}

.calendar__last-days {
  opacity: .3;
}

.clockdate-wrapper {
  background-color: #333;
  padding: 25px;
  max-width: 400px;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 30px;
}


/* Aquí termina el Calendario*/


/* Aquí empieza el Reloj*/

#clock {
  background-color: #333;
  font-family: sans-serif;
  font-size: 60px;
  text-shadow: 0px 0px 1px #fff;
  color: #fff;
}

#clock span {
  color: #888;
  text-shadow: 0px 0px 1px #333;
  font-size: 30px;
  position: relative;
  top: -27px;
  left: -10px;
}

#date {
  letter-spacing: 10px;
  font-size: 14px;
  font-family: arial, sans-serif;
  color: white;
}


/* Aquí termina el Reloj*/


/* Aquí empieza el Formulario*/

.login-box {
  width: 450px;
  height: 500px;
  background: coral;
  color: black;
  top: 80%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.login-box h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.login-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.login-box input {
  width: 100%;
  margin-bottom: 20px;
}

.login-box input[type="text"],
.login-box input[type="Contraseña"] {
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
  outline: none;
  height: 40px;
  color: black;
  font-size: 16px;
}

.login-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: crimson;
  color: black;
  font-size: 18px;
  border-radius: 20px;
}

.login-box input a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.login-box input a:hover {
  color: white;
}


/* Aquí termina el Formulario*/