
body{
    background: rgba(74, 251, 251, 0.609);
    font-family: sans-serif;
    height: 100vh;
}

#carusel {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.text_overlay{
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.text_carrusel{
    color: white;
}

.text_overlay2{
    color: white;
    position: absolute;
    top: 25;
    left: 0;
    right: 0;
}

#imgcarousel {
    max-height: 70vh;
    max-width: 1950px;
    object-fit: cover;
    filter: grayscale(50%);
}

.card-img-top {
    max-height: 25vh;

}

#logo {
    max-height: 50vh;
    max-width: 75px;
}

footer {
    background-color: coral;
}

footer a {
    color: white;
}

.overlay{
    text-align: center;
}

.btn-Inscripción {
    translate: end;
}
