{{#if user}}
<footer class="pb-3 pt-3" class="footer2">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-3">
        <a href="Información_de_la_Página.html">Contactos</a>
      </div>
      <div class="col-md-3">
        <a href="Información_de_la_Página.html">Información de la página</a>
      </div>
      <div class="col-md-3">
        <a href="Información_de_la_Página.html">Dirrección</a>
      </div>
      <div class="col-md-3">
        <a href="Información_de_la_Página.html">Referencias Legales</a>
      </div>
    </div>
  </div>
</footer>
{{/if}}